/*! Regla CSS consta de 2 partes: 
1). El selector
2). El bloque de declaraciones {
sintaxis -> atributo:valor;
atributo-de-mas-dos-palabras:otro-valor;
} */

/*! Llamar una hoja de estilos dentro de otra usar el @import es mala practica por que son bloqueantes a la hora de que el navegador lee esta instruccion solo en CSS PURO*/
/* @import url(./otra-hoja.css); */

h1 {
  color: orangered;
  background-color: black;
}

a {
  text-decoration: none;
}

/*! Selectores Basicos

1). Etiquetas: son elementos HTML
2). Identificadores: atributo id - #
3). Clases: atributo class - .
*/

/* Selector de etiqueta */
p {
  color: midnightblue;
}

/* Selector por ID se considera un antipatron, mala practica*/
#parrafo-dos {
  background-color: skyblue;
}

/* Selector por clase permite reutilizar nuestro codigo CSS*/
.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-steelblue {
  background-color: steelblue;
}

.text-white {
  color: white;
}
